$color-default: "black";
$color-primary: "#519c11";
$color-secondary: "#94644A";
$color-inverse: "white";

$background-default: "white";
$background-primary: "#519c11";
$background-secondary: "#94644A";
$background-inverse: "black"