button {
    min-width: 72px;
    padding: 10px 30px;
    margin: 16px;
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    background-color: #f1f1f1;
}

button:hover {
    cursor: pointer;    
    background-color: #519c11;
    font-weight: bold;
}

/*
button:focus {
    background-color: #519c11;
    font-weight: bold;
}
*/