.mds-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 8px;
    padding: 2px;
    margin: 2px;
}

.mds-col-1 {
    grid-column: span 1;
}

.mds-col-2 {
    grid-column: span 2;
}

.mds-col-3 {
    grid-column: span 3;
}

.mds-col-4 {
    grid-column: span 4;
}

.mds-col-5 {
    grid-column: span 5;
}

.mds-col-6 {
    grid-column: span 6;
}

.mds-col-7 {
    grid-column: span 7;
}

.mds-col-8 {
    grid-column: span 8;
}

.mds-col-9 {
    grid-column: span 9;
}

.mds-col-10 {
    grid-column: span 10;
}

.mds-col-11 {
    grid-column: span 11;
}

.mds-col-12 {
    grid-column: span 12;
}