.mds-label {
    display: block;
    font-size: 16;
    margin: 4px;
    min-height: 20px;
    padding: 8px;
}

.mds-input {
    background-color: rgba(230, 230, 230, 0.64);
    border-radius: 12px;
    border: none;
    display: block;
    font-size: 16;
    margin: 4px;
    min-height: 16px;
    padding: 8px;
}